Repository remix-project-org/remix-project, pull requests merged in 2020-10, with the labels that each got.

#461 Deactivate Plugins From Url Parameters
  apps/remix-ide-e2e/src/tests/workspace.test.ts
  apps/remix-ide/src/app.js
  apps/remix-ide/src/remixAppManager.js
Labels: remix-ide

#465 Fixed Uncaught Exception
  libs/remix-lib/src/execution/txRunner.js
Labels: remix-lib

#487 Refactor the recorder and make it a plugin
  apps/remix-ide/src/app/tabs/runTab/model/recorder.js
  apps/remix-ide/src/app/tabs/runTab/recorder.js
  apps/remix-ide/src/app/udapp/run-tab.js
Labels: remix-ide

#474 Fix source highlight and local/state decoding while using ABIEncoderV2
  apps/remix-ide-e2e/src/commands/checkVariableDebug.ts
  apps/remix-ide-e2e/src/commands/goToVMTraceStep.ts
  apps/remix-ide-e2e/src/tests/debugger.test.ts
  libs/remix-debug/src/Ethdebugger.js
  libs/remix-debug/src/code/breakpointManager.js
  libs/remix-debug/src/debugger/debugger.js
  libs/remix-debug/src/solidity-decoder/internalCallTree.js
  libs/remix-debug/src/source/sourceLocationTracker.js
  libs/remix-debug/src/source/sourceMappingDecoder.js
  libs/remix-debug/test/resources/testWeb3.js
  libs/remix-debug/test/resources/testWeb3.json
  libs/remix-debug/test/resources/traceWithABIEncoder.json
  libs/remix-debug/test/sourceLocationTracker.js
  libs/remix-debug/test/sourceMappingDecoder.js
  libs/remix-debug/test/tests.js
Labels: remix-debug, remix-ide

#451 misc refactors remix-debug / remix-lib
  apps/remix-ide/src/app/udapp/make-udapp.js
  apps/remix-ide/src/lib/transactionReceiptResolver.js
  libs/remix-debug/src/Ethdebugger.js
  libs/remix-debug/src/code/breakpointManager.js
  libs/remix-debug/src/code/codeManager.js
  libs/remix-debug/src/code/codeResolver.js
  libs/remix-debug/src/debugger/debugger.js
  libs/remix-debug/src/solidity-decoder/decodeInfo.js
  libs/remix-debug/src/solidity-decoder/index.js
  libs/remix-debug/src/solidity-decoder/localDecoder.js
  libs/remix-debug/src/solidity-decoder/solidityProxy.js
  libs/remix-debug/src/solidity-decoder/stateDecoder.js
  libs/remix-debug/src/solidity-decoder/types/Address.js
  libs/remix-debug/src/solidity-decoder/types/ArrayType.js
  libs/remix-debug/src/solidity-decoder/types/DynamicByteArray.js
  libs/remix-debug/src/solidity-decoder/types/Mapping.js
  libs/remix-debug/src/solidity-decoder/types/RefType.js
  libs/remix-debug/src/solidity-decoder/types/StringType.js
  libs/remix-debug/src/solidity-decoder/types/Struct.js
  libs/remix-debug/src/solidity-decoder/types/ValueType.js
  libs/remix-debug/src/solidity-decoder/types/util.js
  libs/remix-debug/src/source/sourceLocationTracker.js
  libs/remix-debug/src/source/sourceMappingDecoder.js
  libs/remix-debug/src/storage/mappingPreimages.js
  libs/remix-debug/test/debugger.js
  libs/remix-debug/test/decoder/localsTests/helper.js
  libs/remix-debug/test/decoder/localsTests/int.js
  libs/remix-debug/test/decoder/localsTests/misc.js
  libs/remix-debug/test/decoder/localsTests/misc2.js
  libs/remix-debug/test/decoder/localsTests/structArray.js
  libs/remix-lib/src/eventManager.js
  libs/remix-lib/src/execution/eventsDecoder.js
  libs/remix-lib/src/execution/txListener.js
  libs/remix-lib/src/execution/txRunner.js
  libs/remix-lib/src/storage.js
  libs/remix-lib/src/universalDapp.js
  libs/remix-lib/src/web3Provider/web3Providers.js
  libs/remix-lib/src/web3Provider/web3VmProvider.js
Labels: remix-debug, remix-lib

#479 Fix Debugger Slider Bug
  apps/remix-ide-e2e/src/tests/debugger.test.ts
  apps/remix-ide-e2e/src/tests/terminal.test.ts
  apps/remix-ide/src/app/tabs/debugger/debuggerUI/VmDebugger.js
  apps/remix-ide/src/app/tabs/debugger/debuggerUI/vmDebugger/SolidityLocals.js
  apps/remix-ide/src/app/tabs/debugger/debuggerUI/vmDebugger/utils/SolidityTypeFormatter.js
  apps/remix-ide/src/app/ui/TreeView.js
  libs/remix-debug/src/debugger/VmDebugger.js
  libs/remix-debug/src/debugger/solidityLocals.js
  libs/remix-debug/src/solidity-decoder/localDecoder.js
  libs/remix-debug/src/solidity-decoder/types/ArrayType.js
  libs/remix-debug/src/solidity-decoder/types/RefType.js
  libs/remix-debug/test/debugger.js
Labels: fix, remix-debug, remix-ide

#374 Manage generated sources
  apps/remix-ide-e2e/src/tests/debugger.test.ts
  apps/remix-ide/src/app/tabs/debugger/debuggerUI.js
  apps/remix-ide/src/remixAppManager.js
  libs/remix-astwalker/src/astWalker.ts
  libs/remix-astwalker/src/sourceMappings.ts
  libs/remix-debug/src/Ethdebugger.js
  libs/remix-debug/src/cmdline/index.js
  libs/remix-debug/src/debugger/debugger.js
  libs/remix-debug/src/solidity-decoder/internalCallTree.js
  libs/remix-debug/src/solidity-decoder/solidityProxy.js
  libs/remix-debug/src/source/sourceLocationTracker.js
  libs/remix-debug/test/astwalker.js
  libs/remix-debug/test/debugger.js
  libs/remix-debug/test/sourceLocationTracker.js
Labels: enhancement, remix-debug, remix-ide

#518 Fix switch to a github import from a solidity warning
  apps/remix-ide-e2e/src/tests/generalSettings.test.ts
  apps/remix-ide-e2e/src/tests/solidityImport.test.ts
  apps/remix-ide/src/app/ui/renderer.js
Labels: fix, remix-ide

#527 Make sure the address is checksumed
  libs/remix-lib/src/web3Provider/web3VmProvider.js
Labels: fix
