Repository remix-project-org/remix-project, pull requests merged in 2020-08, with the labels that each got.

#345 Removed unused circleci configuration in remix-ide project
  apps/.gitkeep
  apps/remix-ide/.circleci/config.yml
Labels: remix-ide

#370 return assert method for failed tests
  libs/remix-tests/sol/tests.sol.ts
  libs/remix-tests/src/assertionEvents.ts
  libs/remix-tests/src/testRunner.ts
  libs/remix-tests/src/types.ts
  libs/remix-tests/tests/testRunner.spec.ts
Labels: remix-tests

#368 Settings Tab UI Update
  apps/remix-ide-e2e/src/commands/renameFile.ts
  apps/remix-ide-e2e/src/helpers/init.ts
  apps/remix-ide-e2e/src/tests/editor.test.ts
  apps/remix-ide-e2e/src/tests/generalSettings.test.ts
  apps/remix-ide-e2e/src/tests/libraryDeployment.test.ts
  apps/remix-ide/src/app/components/side-panel.js
  apps/remix-ide/src/app/panels/terminal.js
  apps/remix-ide/src/app/tabs/settings-tab.js
  apps/remix-ide/src/app/tabs/styles/settings-tab-styles.js
  apps/remix-ide/src/app/tabs/theme-module.js
Labels: UI, enhancement

#377 remix-tests as CLI should work fine
  libs/remix-tests/src/run.ts
  libs/remix-tests/src/runTestFiles.ts
Labels: remix-tests
