Repository remix-project-org/remix-project, pull requests merged in 2020-11, with the labels that each got.

#536 Display least path difference in title of tabs
  apps/remix-ide/src/app/panels/tab-proxy.js
Labels: remix-ide

#545 Fixed tab title hidden display
  apps/remix-ide/src/app/panels/tab-proxy.js
Labels: fix, remix-ide

#552 debugger: return directly if no line / column
  libs/remix-ui/debugger-ui/src/lib/debugger-ui.tsx
Labels: bug, remix-ide

#571 'runs' in test source compilation
  libs/remix-tests/src/compiler.ts
  libs/remix-tests/src/types.ts
Labels: remix-tests

#574 Ensure "payable" and "stateMutability" have correct value if "constant" is true
  libs/remix-solidity/src/compiler/compiler.ts
  libs/remix-solidity/src/compiler/types.ts
Labels: bug

#610 Fix e2e
  apps/remix-ide-e2e/src/commands/debugTransaction.ts
  apps/remix-ide-e2e/src/commands/selectContract.ts
  apps/remix-ide-e2e/src/tests/debugger.test.ts
  apps/remix-ide-e2e/src/tests/solidityImport.test.ts
Labels: browser-tests, fix

#511 Use remix plugin 0.3
  apps/remix-ide-e2e/src/tests/fileManager_api.test.ts
  apps/remix-ide-e2e/src/tests/pluginManager.test.ts
  apps/remix-ide/src/app.js
  apps/remix-ide/src/app/components/panel.js
  apps/remix-ide/src/app/components/plugin-manager-component.js
  apps/remix-ide/src/app/files/remixd-handle.js
  apps/remix-ide/src/app/panels/file-panel.js
  apps/remix-ide/src/app/tabs/analysis-tab.js
  apps/remix-ide/src/app/tabs/compile-tab.js
  apps/remix-ide/src/app/tabs/debugger-tab.js
  apps/remix-ide/src/app/tabs/settings-tab.js
  apps/remix-ide/src/app/tabs/test-tab.js
  apps/remix-ide/src/app/ui/landing-page/landing-page.js
  apps/remix-ide/src/remixAppManager.js
  apps/remix-ide/src/remixEngine.js
  libs/remixd/package.json
  package-lock.json
  package.json
  workspace.json
Labels: remix-ide

#601 FileManager: emit fileSaved and fileAdded
  apps/remix-ide/src/app/files/fileManager.js
Labels: enhancement, plugins

#621 refactor debugger component
  apps/remix-ide/src/app/tabs/debugger-tab.js
  libs/remix-solidity/src/index.ts
  libs/remix-ui/debugger-ui/src/lib/DebuggerAPI.ts
  libs/remix-ui/debugger-ui/src/lib/debugger-ui.tsx
  tsconfig.json
Labels: WIP, remix-ide

#631 fix Http Provider
  apps/remix-ide-e2e/src/tests/runAndDeploy.ts
  apps/remix-ide-e2e/src/tests/terminal.test.ts
  apps/remix-ide/src/app/tabs/web3-provider.js
Labels: remix-beta

#633 update archive node URL
  libs/remix-debug/src/init.js
Labels: remix-beta

#597 Update E2E commands to support windows.
  apps/remix-ide/ci/browser_tests_chrome.sh
  apps/remix-ide/ci/browser_tests_firefox.sh
  apps/remix-ide/ci/browser_tests_run_deploy.sh
  package.json
  workspace.json
Labels: browser-tests

#644 update runs in URL (credits to @Aniket)
  apps/remix-ide/src/app/tabs/compileTab/compilerContainer.js
Labels: remix-beta
