Repository remix-project-org/remix-project, pull requests merged in 2020-12, with the labels that each got.

#625 updated runs from URL
  apps/remix-ide-e2e/src/tests/url.test.ts
  apps/remix-ide/src/app/tabs/compileTab/compilerContainer.js
Labels: solidity compiler plugin

#638 Add git service in remixd & use it from the terminal
  apps/remix-ide-e2e/src/tests/remixd.test.ts
  apps/remix-ide/src/app.js
  apps/remix-ide/src/app/files/git-handle.js
  apps/remix-ide/src/app/files/remixd-handle.js
  apps/remix-ide/src/app/panels/file-panel.js
  apps/remix-ide/src/app/panels/styles/terminal-styles.js
  apps/remix-ide/src/app/panels/terminal.js
  apps/remix-ide/src/app/ui/auto-complete-popup.js
  apps/remix-ide/src/remixAppManager.js
  libs/remixd/src/bin/remixd.ts
  libs/remixd/src/serviceList.ts
  libs/remixd/src/services/gitClient.ts
  libs/remixd/src/types/index.ts
  libs/remixd/src/websocket.ts
Labels: enhancement, remix-ide, remixD

#620 Modal Dialog in react
  libs/remix-ui/debugger-ui/src/lib/tx-browser/tx-browser.tsx
  libs/remix-ui/modal-dialog/.babelrc
  libs/remix-ui/modal-dialog/.eslintrc
  libs/remix-ui/modal-dialog/README.md
  libs/remix-ui/modal-dialog/babel-jest.config.json
  libs/remix-ui/modal-dialog/jest.config.js
  libs/remix-ui/modal-dialog/src/index.ts
  libs/remix-ui/modal-dialog/src/lib/modal-dialog-custom.css
  libs/remix-ui/modal-dialog/src/lib/modal-dialog-custom.tsx
  libs/remix-ui/modal-dialog/src/lib/remix-ui-modal-dialog.css
  libs/remix-ui/modal-dialog/src/lib/remix-ui-modal-dialog.tsx
  libs/remix-ui/modal-dialog/src/lib/types/index.ts
  libs/remix-ui/modal-dialog/tsconfig.json
  libs/remix-ui/modal-dialog/tsconfig.lib.json
  libs/remix-ui/modal-dialog/tsconfig.spec.json
  nx.json
  package.json
  tsconfig.json
  workspace.json
Labels: WIP
