Repository remix-project-org/remix-project, pull requests merged in 2020-09, with the labels that each got.

#386 expected vs return in remix-tests CLI
  libs/remix-tests/src/runTestFiles.ts
Labels: remix-tests

#390 Remix tests readme
  libs/remix-tests/LICENSE.md
  libs/remix-tests/README.md
Labels: remix-tests

#395 Replace package.json with updated version
  gulpfile.js
Labels: remix-lib

#409 time calculation for tests improved
  libs/remix-tests/src/testRunner.ts
Labels: remix-tests

#410 Use archive node for debugging
  libs/remix-debug/src/init.js
Labels: remix-debug

#178 Add plugin provider
  apps/remix-ide/src/app.js
  apps/remix-ide/src/app/files/compiler-metadata.js
  apps/remix-ide/src/app/tabs/network-module.js
  apps/remix-ide/src/app/tabs/runTab/contractDropdown.js
  apps/remix-ide/src/app/tabs/runTab/settings.js
  apps/remix-ide/src/app/udapp/run-tab.js
  apps/remix-ide/src/blockchain/blockchain.js
  apps/remix-ide/src/remixAppManager.js
  libs/remix-lib/src/execution/execution-context.js
  libs/remix-lib/src/execution/txRunner.js
Labels: remix-ide, remix-lib

#423 astwalker improved
  libs/remix-debug/src/source/astWalker.js
Labels: remix-debug

#424 Update balance only if necessary
  apps/remix-ide/src/app/tabs/runTab/settings.js
Labels: remix-ide

#452 added runs for compiler
  libs/remix-solidity/src/compiler/compiler-input.ts
  libs/remix-solidity/src/compiler/compiler.ts
  libs/remix-solidity/src/compiler/types.ts
Labels: remix-solidity

#437 call plugin using URL params after page load
  apps/remix-ide-e2e/src/tests/workspace.test.ts
  apps/remix-ide/src/app.js
Labels: remix-ide
