Repository remix-project-org/remix-project, pull requests merged in 2021-05, with the labels that each got.

#1147 dependencies refined
  package-lock.json
  package.json
Labels: autorebase

#1157 fix extracting parentScope
  libs/remix-debug/src/solidity-decoder/internalCallTree.ts
Labels: autosquash

#1170 fix ipfs deploy of the debugger
  apps/debugger/src/index.html
Labels: autosquash, debugger

#1140 Optimise File-Explorer
  apps/remix-ide-e2e/src/commands/addFile.ts
  apps/remix-ide-e2e/src/helpers/init.ts
  apps/remix-ide-e2e/src/tests/fileExplorer.test.ts
  apps/remix-ide-e2e/src/tests/gist.spec.ts
  apps/remix-ide-e2e/src/tests/solidityUnittests.spec.ts
  apps/remix-ide-e2e/src/tests/url.spec.ts
  apps/remix-ide/src/app/compiler/compiler-imports.js
  apps/remix-ide/src/app/editor/contextView.js
  apps/remix-ide/src/app/files/fileManager.js
  apps/remix-ide/src/app/files/fileProvider.js
  apps/remix-ide/src/app/files/remixDProvider.js
  apps/remix-ide/src/app/files/workspaceFileProvider.js
  apps/remix-ide/src/app/panels/file-panel.js
  apps/remix-ide/src/app/tabs/testTab/testTab.js
  apps/remix-ide/src/app/ui/renderer.js
  apps/remix-ide/src/lib/helper.js
  libs/remix-ui/file-explorer/src/lib/actions/fileSystem.ts
  libs/remix-ui/file-explorer/src/lib/file-explorer.tsx
  libs/remix-ui/file-explorer/src/lib/reducers/fileSystem.ts
  libs/remix-ui/file-explorer/src/lib/types/index.ts
  libs/remix-ui/file-explorer/src/lib/utils/index.ts
  libs/remixd/src/services/remixdClient.ts
  package-lock.json
  package.json
Labels: autorebase, performance, remix-ide

#1104 refactor: static analyser plugin from yo-yo to react
  apps/remix-ide-e2e/src/tests/staticAnalysis.spec.ts
  apps/remix-ide/src/app/tabs/analysis-tab.js
  apps/remix-ide/src/app/tabs/staticanalysis/staticAnalysisView.js
  apps/remix-ide/src/app/tabs/staticanalysis/styles/staticAnalysisView-styles.js
  libs/remix-ui/checkbox/.babelrc
  libs/remix-ui/checkbox/.eslintrc
  libs/remix-ui/checkbox/README.md
  libs/remix-ui/checkbox/src/index.ts
  libs/remix-ui/checkbox/src/lib/remix-ui-checkbox.css
  libs/remix-ui/checkbox/src/lib/remix-ui-checkbox.tsx
  libs/remix-ui/checkbox/tsconfig.json
  libs/remix-ui/checkbox/tsconfig.lib.json
  libs/remix-ui/static-analyser/.babelrc
  libs/remix-ui/static-analyser/.eslintrc
  libs/remix-ui/static-analyser/README.md
  libs/remix-ui/static-analyser/src/index.ts
  libs/remix-ui/static-analyser/src/lib/Button/StaticAnalyserButton.tsx
  libs/remix-ui/static-analyser/src/lib/ErrorRenderer.tsx
  libs/remix-ui/static-analyser/src/lib/actions/staticAnalysisActions.ts
  libs/remix-ui/static-analyser/src/lib/reducers/staticAnalysisReducer.ts
  libs/remix-ui/static-analyser/src/lib/remix-ui-static-analyser.tsx
  libs/remix-ui/static-analyser/tsconfig.json
  libs/remix-ui/static-analyser/tsconfig.lib.json
  nx.json
  package.json
  tsconfig.json
  workspace.json
Labels: autorebase, ready

#1179 decode calldata during debugging
  apps/remix-ide-e2e/src/tests/debugger.spec.ts
  libs/remix-debug/src/Ethdebugger.ts
  libs/remix-debug/src/debugger/solidityLocals.ts
  libs/remix-debug/src/solidity-decoder/internalCallTree.ts
  libs/remix-debug/src/solidity-decoder/localDecoder.ts
  libs/remix-debug/src/solidity-decoder/types/RefType.ts
  libs/remix-debug/src/solidity-decoder/types/StringType.ts
  libs/remix-debug/src/solidity-decoder/types/ValueType.ts
  libs/remix-debug/test/decoder/localsTests/helper.ts
Labels: autosquash

#1174 Validate input using BigNumber
  apps/remix-ide/src/app/tabs/runTab/settings.js
  libs/remix-lib/src/execution/txRunner.ts
Labels: remix-ide

#1190 fix connect to localhost from home tab
  libs/remix-ui/workspace/src/lib/remix-ui-workspace.tsx
Labels: workspace

#1193 Refactor modal component to receive functions as props directly.
  libs/remix-ui/file-explorer/src/lib/file-explorer.tsx
  libs/remix-ui/modal-dialog/src/lib/remix-ui-modal-dialog.tsx
  libs/remix-ui/modal-dialog/src/lib/types/index.ts
  libs/remix-ui/toaster/src/lib/toaster.tsx
  libs/remix-ui/workspace/src/lib/remix-ui-workspace.tsx
Labels: performance, remix-ide

#1194 Catch reserved keywords and display modal
  libs/remix-ui/file-explorer/src/lib/file-explorer.tsx
Labels: remix-ide

#1119 refactor events part 1
  apps/remix-ide/src/app/files/file-explorer.js
  apps/remix-ide/src/app/files/fileManager.js
  apps/remix-ide/src/app/files/fileProvider.js
  apps/remix-ide/src/app/files/remixDProvider.js
  apps/remix-ide/src/app/files/workspaceFileProvider.js
  apps/remix-ide/src/app/panels/file-panel.js
  apps/remix-ide/src/app/tabs/test-tab.js
  libs/remix-ui/file-explorer/src/lib/actions/fileSystem.ts
  libs/remix-ui/workspace/src/lib/remix-ui-workspace.tsx
Labels: refactoring/coding style

#747 Refactor send tx
  apps/remix-ide-e2e/src/tests/terminal.test.ts
  apps/remix-ide/src/app/tabs/network-module.js
  apps/remix-ide/src/app/tabs/runTab/model/recorder.js
  apps/remix-ide/src/blockchain/blockchain.js
  apps/remix-ide/src/blockchain/execution-context.js
  apps/remix-ide/src/blockchain/providers/vm.js
  apps/remix-ide/src/blockchain/txResultHelper.js
  jest.config.js
  libs/remix-lib/src/execution/txExecution.ts
  libs/remix-lib/src/execution/txFormat.ts
  libs/remix-lib/src/execution/txListener.ts
  libs/remix-lib/src/execution/txRunner.ts
  libs/remix-lib/src/execution/txRunnerVM.ts
  libs/remix-lib/src/execution/txRunnerWeb3.ts
  libs/remix-lib/src/helpers/txResultHelper.ts
  libs/remix-lib/src/index.ts
  libs/remix-lib/src/universalDapp.ts
  libs/remix-lib/src/web3Provider/web3VmProvider.ts
  libs/remix-lib/test/txFormat.ts
  libs/remix-lib/test/txResultHelper.ts
  libs/remix-simulator/package.json
  libs/remix-simulator/src/genesis.ts
  libs/remix-simulator/src/index.ts
  libs/remix-simulator/src/methods/accounts.ts
  libs/remix-simulator/src/methods/blocks.ts
  libs/remix-simulator/src/methods/debug.ts
  libs/remix-simulator/src/methods/filters.ts
  libs/remix-simulator/src/methods/transactions.ts
  libs/remix-simulator/src/methods/txProcess.ts
  libs/remix-simulator/src/provider.ts
  libs/remix-simulator/src/vm-context.ts
  libs/remix-solidity/package.json
  libs/remix-tests/jest.config.js
  libs/remix-tests/package.json
  libs/remix-tests/src/deployer.ts
  libs/remix-tests/tests/testRunner.cli.spec.ts
  libs/remix-tests/tsconfig.json
  libs/remix-tests/tsconfig.lib.json
  libs/remix-tests/tsconfig.spec.json
Labels: refactoring/coding style, remix-ide, remix-simulator

#1185 Publish files and folder to gist
  apps/remix-ide-e2e/src/tests/gist.spec.ts
  apps/remix-ide/src/lib/gist-handler.js
  libs/remix-ui/file-explorer/src/lib/actions/fileSystem.ts
  libs/remix-ui/file-explorer/src/lib/file-explorer-context-menu.tsx
  libs/remix-ui/file-explorer/src/lib/file-explorer.tsx
  libs/remix-ui/file-explorer/src/lib/reducers/fileSystem.ts
  libs/remix-ui/file-explorer/src/lib/types/index.ts
Labels: remix-ide

#1209 Copy & Paste Files and Folders
  apps/remix-ide-e2e/src/tests/fileManager_api.spec.ts
  apps/remix-ide/src/app/files/fileManager.js
  apps/remix-ide/src/lib/helper.js
  libs/remix-ui/file-explorer/src/lib/file-explorer-context-menu.tsx
  libs/remix-ui/file-explorer/src/lib/file-explorer.tsx
  libs/remix-ui/file-explorer/src/lib/types/index.ts
Labels: remix-ide

#1195 adding doc link for all plugins
  apps/remix-ide/src/app/components/plugin-manager-component.js
Labels: autosquash

#1172 Integrate error defined in the abi
  apps/remix-ide-e2e/src/tests/transactionExecution.spec.ts
  apps/remix-ide/src/app/udapp/run-tab.js
  apps/remix-ide/src/app/ui/universal-dapp-ui.js
  apps/remix-ide/src/blockchain/blockchain.js
  libs/remix-lib/src/execution/txExecution.ts
  libs/remix-lib/src/execution/txHelper.ts
Labels: autorebase, remix-ide

#1222 Allow multiple pasting of files and folders with non-clashing names.
  apps/remix-ide-e2e/src/tests/fileManager_api.spec.ts
  apps/remix-ide/src/app/files/fileManager.js
  apps/remix-ide/src/lib/helper.js
  libs/remix-ui/file-explorer/src/lib/file-explorer.tsx
Labels: remix-ide

#1227 Fixed memory leak
  libs/remix-ui/file-explorer/src/lib/actions/fileSystem.ts
  libs/remix-ui/file-explorer/src/lib/file-explorer.tsx
  libs/remix-ui/file-explorer/src/lib/reducers/fileSystem.ts
  libs/remix-ui/workspace/src/lib/remix-ui-workspace.tsx
Labels: fix, performance

#1218 dgit
  apps/remix-ide/src/app.js
  apps/remix-ide/src/app/files/dgitProvider.js
  apps/remix-ide/src/app/files/fileManager.js
  apps/remix-ide/src/app/panels/file-panel.js
  libs/remix-ui/workspace/src/lib/remix-ui-workspace.tsx
  package-lock.json
  package.json
Labels: autorebase

#1236 await for workspace creation
  libs/remix-ui/workspace/src/lib/remix-ui-workspace.tsx
Labels: autosquash

#1237 e2e debug nodes
  apps/remix-ide-e2e/src/tests/debugger.spec.ts
Labels: autosquash
