Repository remix-project-org/remix-project, pull requests merged in 2022-05, with the labels that each got.

#2353 create workspace using templates
  apps/remix-ide-e2e/src/tests/workspace.test.ts
  apps/remix-ide/src/app/panels/file-panel.js
  libs/remix-ui/workspace/src/lib/actions/events.ts
  libs/remix-ui/workspace/src/lib/actions/index.ts
  libs/remix-ui/workspace/src/lib/actions/workspace.ts
  libs/remix-ui/workspace/src/lib/contexts/index.ts
  libs/remix-ui/workspace/src/lib/providers/FileSystemProvider.tsx
  libs/remix-ui/workspace/src/lib/remix-ui-workspace.tsx
  libs/remix-ui/workspace/src/lib/templates/blank.ts
  libs/remix-ui/workspace/src/lib/templates/erc20.ts
  libs/remix-ui/workspace/src/lib/templates/index.ts
  libs/remix-ui/workspace/src/lib/templates/remixDefault.ts
  libs/remix-ui/workspace/src/lib/types/index.ts
Labels: publish

#2374 use the same logo as on vertical panel
  apps/remix-ide/src/assets/img/sourcifyLogo.webp
Labels: publish

#2368 ws templates using npm package
  apps/remix-ide-e2e/src/tests/plugin_api.ts
  gulpfile.js
  jest.config.js
  lerna.json
  libs/README.md
  libs/remix-ui/workspace/src/lib/actions/workspace.ts
  libs/remix-ui/workspace/src/lib/templates/index.ts
  libs/remix-ui/workspace/src/lib/templates/remixDefault.ts
  libs/remix-ws-templates/.eslintrc
  libs/remix-ws-templates/README.md
  libs/remix-ws-templates/package.json
  libs/remix-ws-templates/src/index.ts
  libs/remix-ws-templates/src/templates/blank/index.ts
  libs/remix-ws-templates/src/templates/erc20/contracts/SampleERC20.sol
  libs/remix-ws-templates/src/templates/erc20/index.ts
  libs/remix-ws-templates/src/templates/erc20/scripts/deploy_with_ethers.ts
  libs/remix-ws-templates/src/templates/erc20/scripts/deploy_with_web3.ts
  libs/remix-ws-templates/src/templates/erc20/scripts/ethers.ts
  libs/remix-ws-templates/src/templates/erc20/scripts/web3.ts
  libs/remix-ws-templates/src/templates/erc20/tests/SampleERC20_test.sol
  libs/remix-ws-templates/src/templates/remixDefault/README.txt
  libs/remix-ws-templates/src/templates/remixDefault/contracts/1_Storage.sol
  libs/remix-ws-templates/src/templates/remixDefault/contracts/2_Owner.sol
  libs/remix-ws-templates/src/templates/remixDefault/contracts/3_Ballot.sol
  libs/remix-ws-templates/src/templates/remixDefault/index.ts
  libs/remix-ws-templates/src/templates/remixDefault/scripts/deploy_with_ethers.ts
  libs/remix-ws-templates/src/templates/remixDefault/scripts/deploy_with_web3.ts
  libs/remix-ws-templates/src/templates/remixDefault/scripts/ethers.ts
  libs/remix-ws-templates/src/templates/remixDefault/scripts/web3.ts
  libs/remix-ws-templates/src/templates/remixDefault/tests/Ballot_test.sol
  libs/remix-ws-templates/src/templates/remixDefault/tests/storage.test.js
  libs/remix-ws-templates/tsconfig.json
  libs/remix-ws-templates/tsconfig.lib.json
  libs/remix-ws-templates/types/index.d.ts
  nx.json
  package.json
  tsconfig.base.json
  workspace.json
Labels: workspace, publish

#2388 improve templates naming
  apps/remix-ide-e2e/src/tests/workspace.test.ts
  libs/remix-ui/workspace/src/lib/remix-ui-workspace.tsx
  libs/remix-ui/workspace/src/lib/templates/blank.ts
  libs/remix-ui/workspace/src/lib/templates/erc20.ts
  libs/remix-ui/workspace/src/lib/templates/index.ts
  libs/remix-ws-templates/src/index.ts
  libs/remix-ws-templates/src/templates/erc20/index.ts
  libs/remix-ws-templates/src/templates/ozerc20/contracts/SampleERC20.sol
  libs/remix-ws-templates/src/templates/ozerc20/index.ts
  libs/remix-ws-templates/src/templates/ozerc20/scripts/deploy_with_ethers.ts
  libs/remix-ws-templates/src/templates/ozerc20/scripts/deploy_with_web3.ts
  libs/remix-ws-templates/src/templates/ozerc20/scripts/ethers.ts
  libs/remix-ws-templates/src/templates/ozerc20/scripts/web3.ts
  libs/remix-ws-templates/src/templates/ozerc20/tests/SampleERC20_test.sol
  libs/remix-ws-templates/src/templates/remixDefault/index.ts
Labels: workspace

#2456 update remixd usage
  libs/remixd/src/bin/remixd.ts
Labels: remixD
