Repository remix-project-org/remix-project, pull requests merged in 2023-09, with the labels that each got.

#4045 quickfix to mark a contract abstract
  libs/remix-ui/editor/src/lib/providers/codeActionProvider.ts
  libs/remix-ui/editor/src/lib/providers/quickfixes.ts
Labels: editor, ready-to-review

#4047 add specific pragma in quick fix
  libs/remix-ui/editor/src/lib/providers/codeActionProvider.ts
  libs/remix-ui/editor/src/lib/providers/quickfixes.ts
Labels: editor

#4053 Quickfixes to add data location to constructor params, function params and variables
  libs/remix-ui/editor/src/lib/providers/codeActionProvider.ts
  libs/remix-ui/editor/src/lib/providers/quickfixes.ts
Labels: ready-to-review

#4055 quickfixes for fallback and receive methods
  libs/remix-ui/editor/src/lib/providers/quickfixes.ts
Labels: editor, ready-to-review

#4031 Update mainnet node for debugging data
  libs/remix-debug/src/init.ts
Labels: ready-to-review

#4084 fixing drag drop issues
  apps/remix-ide/src/app/files/fileManager.ts
  apps/remix-ide/src/app/tabs/locales/en/filePanel.json
  libs/remix-ui/drag-n-drop/src/lib/drag-n-drop.tsx
  libs/remix-ui/workspace/src/lib/actions/index.ts
  libs/remix-ui/workspace/src/lib/components/file-explorer.tsx
Labels: bug

#4101 fix dragging into ancestor
  apps/remix-ide/src/app/files/fileManager.ts
Labels: bug

#4100 fe style improvements
  libs/remix-ui/workspace/src/lib/components/file-explorer-context-menu.tsx
  libs/remix-ui/workspace/src/lib/components/file-explorer-menu.tsx
  libs/remix-ui/workspace/src/lib/components/file-explorer.tsx
  libs/remix-ui/workspace/src/lib/css/file-explorer.css
Labels: UI, file-explorer
