Repository remix-project-org/remix-project, pull requests merged in 2023-08, with the labels that each got.

#3953 add quickfix for visibility
  libs/remix-ui/editor/src/lib/providers/codeActionProvider.ts
  libs/remix-ui/editor/src/lib/providers/quickfixes.ts
Labels: editor, ready-to-review

#3961 Add Prettier formatting and git pre-commit hook
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  libs/remix-ui/workspace/src/lib/reducers/workspace.ts
  package.json
  yarn.lock
Labels: ready-to-review

#4003 publish libs for v0.35.0
  libs/ghaction-helper/package.json
  libs/remix-analyzer/package.json
  libs/remix-astwalker/package.json
  libs/remix-debug/package.json
  libs/remix-lib/package.json
  libs/remix-simulator/package.json
  libs/remix-solidity/package.json
  libs/remix-tests/package.json
  libs/remix-url-resolver/package.json
  libs/remix-ws-templates/package.json
  libs/remixd/package.json
Labels: Remix Libraries

#4019 Fix WalletConnect Issues
  apps/walletconnect/src/services/WalletConnectRemixClient.ts
Labels: remix-beta

#4022 bump libs for master
  libs/ghaction-helper/package.json
  libs/remix-analyzer/package.json
  libs/remix-astwalker/package.json
  libs/remix-debug/package.json
  libs/remix-lib/package.json
  libs/remix-simulator/package.json
  libs/remix-solidity/package.json
  libs/remix-tests/package.json
  libs/remix-url-resolver/package.json
  libs/remix-ws-templates/package.json
Labels: Remix Libraries

#4030 Patch Prettier Linting Rules
  .lintstagedrc.json
  .prettierrc.json
  libs/remix-ws-templates/src/script-templates/contract-deployer/create2-factory-deploy.ts
Labels: ready-to-review

#4041 custom script for installing chromedriver
  .circleci/config.yml
Labels: CI

#4010 Monaco editor version update
  apps/remix-ide-e2e/src/commands/checkAnnotations.ts
  apps/remix-ide-e2e/src/commands/checkAnnotationsNotPresent.ts
  apps/remix-ide-e2e/src/tests/editor.test.ts
  apps/remix-ide-e2e/src/tests/editorReferences.test.ts
  apps/remix-ide-e2e/src/types/index.d.ts
  libs/remix-ui/editor/src/lib/providers/codeActionProvider.ts
  libs/remix-ui/editor/src/lib/remix-ui-editor.css
  libs/remix-ui/editor/src/lib/remix-ui-editor.tsx
  libs/remix-ui/editor/src/types/monaco.ts
  package.json
  yarn.lock
Labels: editor, ready-to-review

#4036 added linea scan details
  apps/etherscan/src/app/utils/networks.ts
Labels: ready-to-review, etherscan
