Repository remix-project-org/remix-project, pull requests merged in 2025-01, with the labels that each got.

#5593 Verification plugin: Add simple documentation on how to add a new verifier
  apps/contract-verification/README.md
Labels: contract verification plugin

#5590 Fix Vyper runtime bytecode vs bytecode in the compilation UI
  apps/vyper/src/app/utils/compiler.tsx
Labels: vyper

#5597 fix VM listing
  libs/remix-ui/environment-explorer/src/lib/components/environment-explorer-ui.tsx
Labels: environment-explorer

#5596 fixes ABI loading
  apps/remix-ide/src/app/editor/editor.js
  libs/remix-ui/run-tab/src/lib/actions/deploy.ts
Labels: UDapp plugin

#5595 feat: Integrate Linea chain in deployment environments
  apps/remix-ide/src/app/udapp/run-tab.tsx
  apps/remix-ide/src/assets/img/linea_chain.png
Labels: environment-explorer

#5632 bump beta version to 0.59.1
  package.json
Labels: remix-beta

#5591 i18n to Contract Verification
  apps/contract-verification/src/app/app.tsx
  apps/contract-verification/src/app/components/AccordionReceipt.tsx
  apps/contract-verification/src/app/components/ConfigInput.tsx
  apps/contract-verification/src/app/components/ConstructorArguments.tsx
  apps/contract-verification/src/app/components/ContractAddressInput.tsx
  apps/contract-verification/src/app/components/ContractDropdown.tsx
  apps/contract-verification/src/app/components/NavMenu.tsx
  apps/contract-verification/src/app/components/SearchableChainDropdown.tsx
  apps/contract-verification/src/app/layouts/Default.tsx
  apps/contract-verification/src/app/routes.tsx
  apps/contract-verification/src/app/views/LookupView.tsx
  apps/contract-verification/src/app/views/ReceiptsView.tsx
  apps/contract-verification/src/app/views/SettingsView.tsx
  apps/contract-verification/src/app/views/VerifyView.tsx
  apps/remix-ide/src/app/tabs/locales/en/contractverification.json
  apps/remix-ide/src/app/tabs/locales/es/panel.json
  apps/remix-ide/src/app/tabs/locales/fr/panel.json
  apps/remix-ide/src/app/tabs/locales/it/panel.json
  apps/remix-ide/src/app/tabs/locales/ko/panel.json
  apps/remix-ide/src/app/tabs/locales/ru/panel.json
  apps/remix-ide/src/app/tabs/locales/zh/panel.json
  apps/vyper/src/app/app.tsx
Labels: ready-to-review, contract verification plugin

#5600 delete forked state environment from env explorer
  apps/remix-dapp/src/locales/en/udapp.json
  apps/remix-ide-e2e/src/tests/vm_state.test.ts
  apps/remix-ide/src/app/providers/environment-explorer.tsx
  apps/remix-ide/src/app/tabs/locales/en/udapp.json
  apps/remix-ide/src/blockchain/blockchain.tsx
  libs/remix-simulator/src/provider.ts
  libs/remix-ui/environment-explorer/src/lib/components/environment-explorer-ui.tsx
  libs/remix-ui/environment-explorer/src/lib/types/index.ts
  libs/remix-ui/run-tab/src/lib/components/environment.tsx
Labels: UDapp plugin, code reviewed, environment-explorer

#5629 switch instead of check for gridview
  apps/remix-ide/src/app/providers/style/environment-explorer.css
  libs/remix-ui/grid-view/src/lib/remix-ui-grid-cell.css
  libs/remix-ui/grid-view/src/lib/remix-ui-grid-cell.tsx
Labels: UI, UDapp plugin

#5689 removing Solidity survey (we need to merge only after Jan 27 and immediately release)
  libs/remix-ui/home-tab/src/lib/components/homeTabFeatured.tsx
Labels: next release
